@font-face {
  font-family: 'Heebo';
  src: url('../../public/fonts/Heebo-Regular.eot');
  src: url('../../public/fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/Heebo-Regular.woff2') format('woff2'),
    url('../../public/fonts/Heebo-Regular.woff') format('woff'),
    url('../../public/fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
